---
import Layout from '../../layouts/PageLayout.astro';
import ArchiveGrid from '../../components/ArchiveGrid.astro';
import { getCollection } from 'astro:content';

const arts = (await getCollection('art')).sort((a, b) => {
	if (a.data.featured && !b.data.featured) return -1;
	if (!a.data.featured && b.data.featured) return 1;

	return 0;
});
---

<Layout title="Art" description="Art archive">
	<h1>Gallery</h1>

	<p>Drawings and photographs.</p>

	<ArchiveGrid 
		items={arts}
		type="art" 
		variant="masonry" 
	/>

	<br><br>
	<p>Places where the arts are created:</p>
	<p>
	B - Birmingham, UK<br>
	M - Milano, IT<br>
	T - Toronto, CA<br>
	Y - Mianyang, CN<br>
	</p>

</Layout>