---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Polar Architecture">

<h1>Sheltering Alternative Futures: Polar Architectures Since 1957</h1>

<img src="/Front-01.jpg">

<p>
这里介绍你的整个研究……
</p>

</BaseLayout>
