---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="A little about Fey"
	description="Something about me"
>
	<h3>
	A Little About "
	<a class="shortcut" href="/arts#portrait" style="color: rgb(var(--gray));">
	Fey
	</a>
	"</h3>

	<br><br>

    <p>
		<strong> Although many people have called me by different names, I suppose "Fey" is the easiest one to 
		pronounce and remember, hence the name of this site.</strong>
	</p>

	<p>
		But officially, my name is Feihao. Literally, it means "flying into the sky and meeting the 
		sun" in Chinese - does that remind you of anyone? Anyway, this name is my parents' first gift 
		to me, as they hoped that I could fly away and do something big one day. Perhaps out of the 
		same reason, they sent me to Canada after I finished junior high in Sichuan Province. In 
		Toronto, I finished high school, then completed my undergraduate studies at UofT. Later I went 
		to Italy and got my Master's Degree from Polimi; people there started calling me "Fey." Now 
		I'm working on my <a class="shortcut" href="/projects#polar" style="color: rgb(var(--gray));">
        PhD
        </a> in England. Looking back, it almost feels inevitable.
	</p>

	<p>
        A few months ago, I had a discussion with my friends about our names. They now work in the 
		design and architecture industry, and coincidentally, their names reflect that. One of my 
		friends' name, if translated directly into English, means "villa in late Autumn." And I was 
		like, dude, that was pure beauty. While I struggled to relate my name to any signs of 
		architecture, I realised that it really animates the story of Icarus, whose dad, Daedalus, 
		designed the great labyrinth of the Minotaur in Greek myth. Although I may not be as 
		self-destructive as Icarus, my friends thought that analogy was perfect.  
	</p>

	<p>
		But perhaps my friends are right in a way? I’ve always felt drawn to things destined to 
		vanish. Time will change the context in which things exist — and so, despite their 
		resistance, some creations inevitably fade away: the Boeing 747, the 0 Series Shinkansen, 
		the Fukushima Daiichi nuclear power plant, and the Nakagin Capsule Tower. That’s why I made 
		documentaries about them. Was I building memorials to things that burn brightest just before
		they vanish? 
	</p>

	<p>
		On the cover of my 
		<a class="shortcut" href="/projects#unlivable" style="color: rgb(var(--gray));">
		Master’s thesis
		</a>
		, I printed a Latin phrase: Ad astra per aspera — “Through 
		hardship, to the stars.” In 1977, that phrase was encoded in Morse and carried into space by 
		Voyager I, which has now long left the solar system. From a functionalist perspective, the 
		life of a spacecraft can be measured in data and benchmarks. But Voyager I was more than 
		that — it was a vessel of the human spirit. Wherever it goes becomes humanity's frontier.
	</p>

	<p>
        It was born into a world divided by ideology and concrete walls, into an era of pollution 
		and looming resource depletion. Yet it carried with it the sounds, languages, and images 
		of our planet. “We are attempting to survive our time so we may live into yours. We hope 
		someday, having solved the problems we face, to join a community of galactic 
		civilizations,” wrote President Carter. His words became part of the love letter we 
		devoted to the stars. So maybe hope and despair aren’t opposites. Maybe they’re just 
		intertwined.
	</p>

	<p>
		I kind of understand the reason my dad thought I was out of my mind when I decided to 
		pursue research on polar and space architectures. They are plainly too far and too 
		unapproachable. Like most Chinese parents, my mom and my dad wanted me to do something 
		grounded, something earthly, and something tangible. I could do that. Daedalus asked 
		Icarus to fly low, so that his beloved child could stay safe. And Icarus said: "What's 
		the fun in that, dude?" (though I'm pretty sure he didn't say that).    
	</p>

	<p>
		<strong>The thing is, the study of polar and space architectures is also a path of 
		self-discovery and personal growth.</strong>
	</p>

	<p>
		You see, there is something called "ceremonial South Pole" at the Amundsen–Scott Station.
		In the 1970s, some crews painted a glass ball silver 
		<a class="shortcut" href="https://www.southpolestation.com/pole/ceremonial.html" style="color: rgb(var(--gray));">
        (some say it was a streetlamp from Christchurch)
        </a>. 
		and mounted it on a bamboo pole to mark the southernmost point on Earth. During renovations 
		in 1976, the original ball was accidentally dislodged and shattered in the snow. When the 
		news reached McMurdo Station — some 1,400 kilometers away — they quickly painted a bowling 
		ball silver and sent it over on the next supply mission. Humanity didn’t go long without 
		a "South Pole."
	</p>

	<p>
		Perhaps it was a silly thing to do. One sphere balanced on a pole to signify the pole of 
		sphere. A symbol of cosmic geometry, dwarfed by nearby structures worth hundreds of 
		millions. But isn’t that also what makes us human? Knowing that there exists a limit 
		to our time, and yet still choosing to build something — maybe a tower, maybe a book, 
		maybe a love. 
	</p>

	<p>
		Maybe we’re all doing just that. The buildings we send to the Arctic, Antarctic, and 
		space are not just products of human intelligence. They are monuments to fear, anxiety, 
		endurance — and hope. I was launched to Canada, Italy, then England. After so many years, 
		I got used to the life on "orbit," and learned to live in my own capsule that traversed 
		different worlds. Maybe a sense of belonging is a cultural construct. Or maybe, I 
		finally found it in my research on those peculiar, remote capsules on the edge of 
		civilization. 
	</p>

	<p>
		<strong>Daedalus may have had a good point, but Icarus said: "if I'm doomed to plunge, let me 
		fly higher."</strong>
	</p>

	<br><br>

	<p>PS: My friend's gift to me</p>
	<img src="/images/Icarus.jpg">

</Layout>
