---
import Layout from '../layouts/BlogPost.astro';
---
<div style="font-size:50px; color:red;">
    TEST DIV
</div>
<Layout
	title="A little about me"
	description="Something about me"
	pubDate={new Date('June 28 2026')}
	heroImage="/free.jpg"
>
	<h2 style="font-size: 60px; color: red;">
    TEST HEADING
    </h2>

    <h2> 
        Part of my work is to show that polar and space architectures, rock n' roll, and KFC 
        were the products of the same time. 
	</h2>

	<p>
		Four years ago, in my PhD application, I wrote about a moment that stuck with me:
        It was a warm autumn afternoon. I was sitting on the balcony of my apartment in Milan, 
        sifting through potential topics for my Master’s thesis, trying to find one I could 
        truly commit to. Polar and space architecture wasn’t my first choice — it was Plan C.
	</p>

	<p>
        So, at the beginning of this story, why did I choose to study architecture in the Arctic, 
        Antarctic, and outer space? To those who only know my research topic roughly, it might 
        sound cool—perhaps some kind of cutting-edge niche in high-tech frontiers. 
        Or maybe it just sounds too remote and abstract, and some people struggle to understand 
        what exactly it is that I do — one of them being my dad. After some polite admiration, 
        they inevitably ask the eternal question, carefully and sincerely: “But… what’s the point?”
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
