---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Curriculum Vitae"
	description="Fey's academic profile"
    pubDate={new Date('July 2026')}>

    <div class="contact">
    Feihao Zhang<br>
    feihao.zhang@aaschool.ac.uk<br>
    Birmingham, UK<br><br>

    <h3>
    Education
    </h3>

    <div class="education-item">
    <strong>2024–2028</strong><br>
    Architectural Association<br>
    PhD Programme<br>
    Research Design<br><br>
    <em>(Expected 2028)</em>
    </div>
    <hr>

    <div class="education-item">
    <strong>2021–2023</strong><br>
    Politecnico di Milano<br>
    School of Architecture Urban Planning Construction Engineering<br>
    Architecture and Urban Design<br>
    Master of Science<br><br>
    <em>Obtained in 07/2023 with full GPA</em>
    </div>
    <hr>

    <div class="education-item">
    <strong>2017–2021</strong><br>
    University of Toronto<br>
    John H. Daniels Faculty of Architecture, Landscape, and Design<br>
    Architectural study<br>
    Honours Bachelor of Arts<br><br>
    <em>Obtained in 06/2021 with distinction</em>
    </div>
    <hr>
    
    <br><br>

    <h3>
    Academic highlights
    </h3>

    <div class="highlights">
    <strong>2018</strong> Toronto wildlife habitat study at 401-Eglington intersection<br>
    <strong>2020</strong> South Ontario railway standard unification<br>
    <strong>2020</strong> Landscape research of post fallout Fukushima<br>
    <strong>2021</strong> Postwar Italian art history through MAXXI museum<br>
    <strong>2022</strong> Survey and preservation proposal for Sacromonte di Varese<br>
    <strong>2022</strong> Milan Ortomerchato wholesale market rennovation proposal<br>
    <strong>2023</strong> Historical study on China’s housing shortage<br>
    <strong>2023</strong> <a href="https://www.theglobalarchitect.polimi.it/?page_id=1527" 
        style="color: rgb(var(--gray));">
		Master's thesis</a>: Polar and space architecture<br>
    <strong>2024</strong> Polar architectures in the Cold War containment policy<br>
    <strong>2025</strong> Cybernetic landscape of the Distant Early Warning system<br>
    <strong>2026</strong> Biosphere 2 laboratory as a model of the human-technology-environment symbiotic relationship<br>
    <strong>2026</strong> Chinese ancient city map restoration<br>
    </div>

    <br><br>

    <h3>
    Awards
    </h3>

    <div class="Awards">
    <strong>05/2013</strong> The 11th Sichuan Province Robot Competition 1st Prize<br>
    <strong>11/2013</strong> Student Recognition Certificate<br>
    <strong>02/2014-06/2015</strong> Cnetral Technical School Honour Standings<br>
    <strong>06/2015</strong> TDSB Trustee Award of Achievement<br>
    <strong>06/2021</strong> University of Toronto Distinction status<br>
    <strong>02/2023</strong> High-merit tuition exemption <br>
    <strong>07/24-07/26</strong> Architectural Association Bursary Award
    </div>

    <br><br>

    <h3>
    Publications
    </h3>

    <div class="papers and books">
    For the Greater Good: Modern China’s struggle on housing shortage<br>
    <em>City Territory and Architecture</em><br>
    <a href="https://link.springer.com/article/10.1186/s40410-024-00230-y" 
        style="color: rgb(var(--gray));">
		Doi: 10.1186/s40410-024-00230-y</a>

    <br><br>

    Layering Confinement: Polar architectures among the 1950s infrastructural programs<br>
    <em>Perspectives in Architecture and Urbanism</em><br>
    <a href="https://www.sciencedirect.com/science/article/pii/S2950267525000272?via%3Dihub" 
        style="color: rgb(var(--gray));">
		Doi: 10.1016/j.pau.2025.100052</a>
    </div>

    <br><br>
    
    <h3>
    Methods & Tools
    </h3>

    <div class="Tools">
    Historical research<br>
    Archival research<br>
    GIS<br>
    Phython<br>
    Rhino/Grasshopper<br>
    Adobe cc
    </div>

    <br><br>

    <a
        class="button"
        href="/documents/Feihao_Zhang_CV_2026.pdf"
        target="_blank"
        rel="noopener noreferrer"
    >
        View PDF →
    </a>

    <p> Last updated: Summer 2026 </p>
</Layout>