---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Welcome aboard~</h1>
			<img src="/exhibition thumbnail.jpg">
            <style>
            .hero-img {
             width: 500px;
             height: auto;
            }
            </style>
            <p>
				Welcome to my personal website! This little website began on a hot June day, but gladly, 
                the heat wave is weakening now. I opened my window, and now the pendant light is swinging 
                in the English evening breeze. I wish you could feel this calm and chill whenever you see it.
			</p>
			<p>
				The website is where I showcase my work and share recent thoughts and progress. Whether 
                you stop by for any random reason or make it to this place through links, I am very happy 
                to meet you at this corner of the internet, and I wish you a good time.
			</p>
			<p>So... why "capsule"?:</p>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
