---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Welcome aboard~</h1>
			<img src="/images/exhibition thumbnail.jpg">
            <style>
            .hero-img {
             width: 500px;
             height: auto;
            }
            </style>
            <p>
				Welcome to my personal website! This little site began on a hot June day, but gladly, 
                the heat wave is receding now. I opened my window a minute ago, and now the pendant light 
                is swinging in the English evening breeze. I wish you could feel this calm and chill whenever 
                and wherever you see these words.
			</p>
			<p>
				This website is where I showcase my work and share recent thoughts and progress. Whether 
                you stop by for any random reason or make it to this place through links, I am very happy 
                to meet you at this corner of the internet, and I wish you a good time.
			</p>
			<p>So... why "capsule"?</p>
			<p>
				Perhaps everyone lives in an individual capsule in a way? I am an architect; to me, designing is 
                a process of building a capsule. Or perhaps I am an observer? I travel in my own capsule and see
                different people and worlds. Anyway, I don't want to sound too sketchy and philosophical. Perhaps 
                this is just a personal space, a home in the endless urban landscape, like that of the Nakagin 
                Capsule Tower.
			</p>
			<p>
                You can learn more about me 
                <a href="/about" style="rgb(var(--gray)">
                here
                </a>. 
                On this page, you will find my projects. There is space where you 
                can drop me a message. Have fun!  
			</p>
		</main>
		<Footer />
	</body>
</html>
