---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Projects and Research"
	description="research highlights"
	heroImage="/images/research_index.jpg"
	pubDate={new Date('June 28 2026')}
	>
	
	<p>
	This section 
	</p>
	
	<h2> 
        Test
	</h2>

</Layout>