---
import Layout from '../../layouts/PageLayout.astro';
import ArchiveGrid from '../../components/ArchiveGrid.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate - a.data.pubDate,
);
---

<Layout title="Research and Projects" description="Research archive">
	<h1>Research and Projects</h1>

	<p>A partial collection of the current and previous projects.</p>

	<p>
		The comment section is not opened yet, but feel free to contact me on
		<a
			class="shortcut"
			href="https://www.linkedin.com/in/feihao-zhang-a4a02235a/"
			target="_blank"
			rel="noopener noreferrer"
		>
			LinkedIn
		</a>.
	</p>

	<ArchiveGrid 
		items={projects} 
		type="project"
	/>
</Layout>